.page {
  width: 100vw;
  height: 100vh;
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../images/background.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-wrapper {
  position: relative;
  margin-left: 160px;
  width: 100vw;
  max-height: 85vh;
}

.page__house {
  width: 100%;
  height: auto;
  display: block;
}

.page__window {
  position: absolute;
  top: -1%;
  left: 15%;
  width: 69%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(38% 29%, 52% 44%, 52% 69%, 38% 56%);
  transition: transform 0.3s ease;
}
.page__window:active {
  animation: zoomPulse 3s ease;
}

.page__tv {
  position: absolute;
  top: 15%;
  left: -11%;
  width: 69%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(
    37% 27%,
    58% 6%,
    59% 8%,
    59% 42%,
    56% 45%,
    60% 48%,
    60% 68%,
    57% 69%,
    45% 82%,
    42% 85%,
    36% 79%,
    36% 80%,
    36% 59%,
    37% 58%
  );
  transition: zoomPulse 0.3s ease;
}
.page__tv:active {
  animation: zoomPulse 3s ease;
}

.page__book {
  position: absolute;
  top: 24%;
  left: 31%;
  width: 67%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(31% 21%, 34% 18%, 48% 32%, 48% 72%, 44% 75%, 31% 62%);
  transition: zoomPulse 0.3s ease;
}
.page__book:active {
  animation: zoomPulse 3s ease;
}

.page__seating {
  position: absolute;
  top: 36%;
  left: 9%;
  width: 69%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(
    41% 45%,
    42% 46%,
    47% 41%,
    48% 43%,
    48% 60%,
    34% 75%,
    26% 67%,
    26% 60%
  );
  transition: zoomPulse 0.3s ease;
}
.page__seating:active {
  animation: zoomPulse 3s ease;
}

.page__plant {
  position: absolute;
  top: -2%;
  left: 18%;
  width: 69%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(
    23% 92%,
    23% 70%,
    21% 42%,
    22% 35%,
    24% 25%,
    25% 35%,
    29% 24%,
    31% 29%,
    29% 71%,
    30% 86%,
    29% 100%,
    30% 96%,
    30% 100%,
    30% 94%,
    32% 94%,
    34% 91%
  );
  transition: zoomPulse 0.3s ease;
}
.page__plant:active {
  animation: zoomPulse 3s ease;
}

.page__radio {
  position: absolute;
  top: 44%;
  left: 40%;
  width: 12%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(
    6% 37%,
    13% 33%,
    13% 28%,
    44% 8%,
    76% 23%,
    82% 30%,
    83% 35%,
    91% 40%,
    91% 45%,
    88% 47%,
    88% 74%,
    84% 77%,
    80% 74%,
    80% 55%,
    54% 71%,
    53% 94%,
    49% 97%,
    45% 94%,
    45% 71%,
    17% 53%,
    17% 73%,
    13% 76%,
    9% 73%,
    9% 45%,
    6% 43%
  );
  transition: zoomPulse 0.3s ease;
}
.page__radio:active {
  animation: zoomPulse 3s ease;
}

.page__lamp {
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 12%;
  height: auto;
  z-index: 10;
  cursor: pointer;
  clip-path: polygon(
    40% 0,
    60% 0,
    66% 28%,
    53% 35%,
    61% 87%,
    64% 89%,
    60% 100%,
    38% 100%,
    37% 90%,
    48% 35%,
    33% 27%
  );
  transition: zoomPulse 0.3s ease;
}
.page__lamp:active {
  animation: zoomPulse 3s ease;
}

.page__overlay {
  position: absolute;
  top: 38%;
  left: 17%;
  width: 50%;
  height: 50%;
  z-index: 11;
  background: radial-gradient(
    circle,
    rgba(255, 173, 22, 0.5) 0%,
    transparent 60%
  );
  pointer-events: none; /*  so it doesn't block clicks if it's just for visual effect*/
}
.page__tv-on {
  display: none;
  transform: scale(0.37) skewY(-26deg);
  position: absolute;
  top: 9%;
  left: 3%;
  width: 38%;
  height: 60%;
  z-index: 10;
  cursor: pointer;
}

@keyframes zoomPulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
